<div class="col-md-3">
    <object width="260" height="90" align="middle" class="col-md-12">
        <param name="allowScriptAccess" value="always" />
        <param name="movie" value="/Public/Home/flash/honehone_clock_wh.swf" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <param name="wmode" value="transparent" />
        <embed wmode="transparent" src="/Public/Home/flash/honehone_clock_wh.swf" quality="high"  allowScriptAccess="always" type="application/x-shockwave-flash" />
    </object>
    <fieldset style="margin-top:20px;" class="col-md-12">
        <legend >关于我</legend>
        <p>邮箱：feng@fennay.com</p>
        <p>微博：feng@fennay.com</p>
        <p>Q　Q：feng@fennay.com</p>
    </fieldset>
    <fieldset class="tagCloud" style="margin-top:20px;" id="tagCloud" class="col-md-12">
        <legend >标签云</legend>
        <a href="http://www.alixixi.com">JS课程</a>
        <a href="http://www.alixixi.com" class="red">教程</a>
        <a href="http://www.alixixi.com">试听</a>
        <a href="http://www.alixixi.com">精品</a>
        <a href="http://www.alixixi.com" class="blue">妙味课堂</a>
        <a href="http://alixixi.com">SEO</a>
        <a href="http://alixixi.com" class="red">特效</a>
        <a href="http://alixixi.com" class="yellow">JavaScript</a>
        <a href="http://alixixi.com">miaov</a>
        <a href="http://alixixi.com" class="red">CSS</a>
        <a href="http://alixixi.com">求职</a>
        <a href="http://www.alixixi.com" class="blue">面试题</a>
        <a href="http://www.alixixi.com">继承</a>
        <a href="http://www.alixixi.com/" class="red">妙味课堂</a>
        <a href="http://www.alixixi.com" class="blue">OOP</a>
        <a href="http://www.alixixi.com">XHTML</a>
        <a href="http://www.alixixi.com" class="blue">setInterval</a>
        <a href="http://alixixi.com">W3C</a>
        <a href="http://alixixi.com">石川</a>
        <a href="http://alixixi.com" class="yellow">妙味课堂</a>
        <a href="http://alixixi.com">blue</a>
    </fieldset>
</div>