<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8"/>
        <title>Blog</title>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        <link rel="stylesheet" href="/Public/Home/css/index.css">
    </head>
    <body>
        <div class="nav border">
            <ul>
                <li><a href="">首页</a></li>
                <li><a href="">人生</a></li>
                <li><a href="">百味</a></li>
                <li><a href="">关于</a></li>
            </ul>
        </div>
        <div class="main">
            <div class="sidebar">
                <div>
                	<object  width="260" height="90" align="middle">
	                    <param name="allowScriptAccess" value="always" />
	                    <param name="movie" value="/Public/Home/flash/honehone_clock_wh.swf" />
	                    <param name="quality" value="high" />
	                    <param name="bgcolor" value="#ffffff" />
	                    <param name="wmode" value="transparent" />
	                    <embed wmode="transparent" src="/Public/Home/flash/honehone_clock_wh.swf" quality="high"  allowScriptAccess="always" type="application/x-shockwave-flash" />
                    </object>
                </div>
                <fieldset class="info border">
                    <legend>关于我</legend>
                    <p>邮箱：feng@fennay.com</p>
                    <p>微博：feng@fennay.com</p>
                    <p>Q　Q：feng@fennay.com</p>
                </fieldset>
                <fieldset class="tagCloud border" id="tagCloud">
                    <legend>标签云</legend>
                    <a href="http://www.alixixi.com">JS课程</a>
                    <a href="http://www.alixixi.com" class="red">教程</a>
                    <a href="http://www.alixixi.com">试听</a>
                    <a href="http://www.alixixi.com">精品</a>
                    <a href="http://www.alixixi.com" class="blue">妙味课堂</a>
                    <a href="http://alixixi.com">SEO</a>
                    <a href="http://alixixi.com" class="red">特效</a>
                    <a href="http://alixixi.com" class="yellow">JavaScript</a>
                    <a href="http://alixixi.com">miaov</a>
                    <a href="http://alixixi.com" class="red">CSS</a>
                    <a href="http://alixixi.com">求职</a>
                    <a href="http://www.alixixi.com" class="blue">面试题</a>
                    <a href="http://www.alixixi.com">继承</a>
                    <a href="http://www.alixixi.com/" class="red">妙味课堂</a>
                    <a href="http://www.alixixi.com" class="blue">OOP</a>
                    <a href="http://www.alixixi.com">XHTML</a>
                    <a href="http://www.alixixi.com" class="blue">setInterval</a>
                    <a href="http://alixixi.com">W3C</a>
                    <a href="http://alixixi.com">石川</a>
                    <a href="http://alixixi.com" class="yellow">妙味课堂</a>
                    <a href="http://alixixi.com">blue</a>
                </fieldset>
            </div>
            <div class="content">
                <div class="article">
                    <h1><a href="###">06月10日 - jQuery选择器之内容过滤选择器</a></h1>
                    <ul>
                        <li>分类：jQuery、js</li>
                        <li>作者：Fennay</li>
                        <li>发布时间：2015-06-23</li>
                        <li>点击数:100</li>
                    </ul>
                    <div class="clearfix"></div>
                    <div>
                        相信大家已经注意到了，程序员的大部分时间都花在电脑桌前编程，这会损害程序员的健康。其实不需要多么复杂的养生，你只需每天做一些小小的改变，就可以摆脱病痛、保持健康。
                        相信大家已经注意到了，程序员的大部分时间都花在电脑桌前编程，这会损害程序员的健康。其实不需要多么复杂的养生，你只需每天做一些小小的改变，就可以摆脱病痛、保持健康。
                    </div>
                    <span class="detail"><a href="###">详情</a></span>
                </div>
                <div class="article">
                    <h1><a href="###">06月10日 - jQuery选择器之内容过滤选择器</a></h1>
                    <ul>
                        <li>分类：jQuery、js</li>
                        <li>作者：Fennay</li>
                        <li>发布时间：2015-06-23</li>
                        <li>点击数:100</li>
                    </ul>
                    <div class="clearfix"></div>
                    <div>
                        相信大家已经注意到了，程序员的大部分时间都花在电脑桌前编程，这会损害程序员的健康。其实不需要多么复杂的养生，你只需每天做一些小小的改变，就可以摆脱病痛、保持健康。
                        相信大家已经注意到了，程序员的大部分时间都花在电脑桌前编程，这会损害程序员的健康。其实不需要多么复杂的养生，你只需每天做一些小小的改变，就可以摆脱病痛、保持健康。
                    </div>
                    <span class="detail"><a href="###">详情</a></span>
                </div>
                <div class="article">
                    <h1><a href="###">06月10日 - jQuery选择器之内容过滤选择器</a></h1>
                    <ul>
                        <li>分类：jQuery、js</li>
                        <li>作者：Fennay</li>
                        <li>发布时间：2015-06-23</li>
                        <li>点击数:100</li>
                    </ul>
                    <div class="clearfix"></div>
                    <div>
                        相信大家已经注意到了，程序员的大部分时间都花在电脑桌前编程，这会损害程序员的健康。其实不需要多么复杂的养生，你只需每天做一些小小的改变，就可以摆脱病痛、保持健康。
                        相信大家已经注意到了，程序员的大部分时间都花在电脑桌前编程，这会损害程序员的健康。其实不需要多么复杂的养生，你只需每天做一些小小的改变，就可以摆脱病痛、保持健康。
                    </div>
                    <span class="detail"><a href="###">详情</a></span>
                </div>
                <div class="article">
                    <h1><a href="###">06月10日 - jQuery选择器之内容过滤选择器</a></h1>
                    <ul>
                        <li>分类：jQuery、js</li>
                        <li>作者：Fennay</li>
                        <li>发布时间：2015-06-23</li>
                        <li>点击数:100</li>
                    </ul>
                    <div class="clearfix"></div>
                    <div>
                        相信大家已经注意到了，程序员的大部分时间都花在电脑桌前编程，这会损害程序员的健康。其实不需要多么复杂的养生，你只需每天做一些小小的改变，就可以摆脱病痛、保持健康。
                        相信大家已经注意到了，程序员的大部分时间都花在电脑桌前编程，这会损害程序员的健康。其实不需要多么复杂的养生，你只需每天做一些小小的改变，就可以摆脱病痛、保持健康。
                    </div>
                    <span class="detail"><a href="###">详情</a></span>
                </div>

                <div class="flink clearfix">
                    <ul>
                        <li><a href="">谷歌</a></li>
                        <li><a href="">百度</a></li>
                        <li><a href="">雅虎</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer clearfix">
            Copyright &copy; & Designed by Fennay
        </div>
        <script type="text/javascript" src="/Public/Home/js/tag_cloud.js"></script>
    </body>
</html>
